//// Theme Imports
//
//@import 'variables';
//@import '../theme/variables';
//@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
//@import '../../node_modules/scomponent/src/cms.core.css';
//@import 'sComponents';
//@import 'helpers';
//
//// Fonts
//@import 'fonts/brandFontsImport.css';
//@import 'fonts/brandFontsLinks';
//
//// Icons
//@import 'icons/flaticons/flaticon.css';
//@import 'icons/fontawesome/icons.css';
//
////Global Components
//@import 'scss/components/global/Sbutton';
//@import 'scss/components/global/StextField';
//@import 'scss/components/global/tabsComponent';
//@import 'scss/components/global/categories';
//@import 'scss/components/global/pagination';
//@import 'scss/components/global/filters';
//@import 'scss/components/global/FiltersHeader';
//@import 'scss/components/global/PriceFilter';
//@import 'scss/components/global/SimilarProducts';
//@import 'scss/components/global/popup';
//
//// Components
//@import 'scss/components/item';
//@import 'scss/components/footer';
//@import 'scss/components/orderList';
//@import 'scss/components/businessCard';
//@import 'scss/components/orderModal';
//@import 'scss/components/creditsHistory';
//@import 'scss/components/creditModal';
//@import 'scss/components/sendCredits';
//@import 'scss/components/cart';
//@import 'scss/components/userDropdown';
//
////Modals
//@import 'scss/modals/login';
//@import 'scss/modals/register';
//@import 'scss/modals/checkoutModal';
//@import 'scss/modals/itemModal';
//
//// Modules
//@import 'scss/modules/headers/SubCategoryHeader.scss';
//@import 'scss/modules/headers/LanguageSwitcher.scss';
//@import 'scss/modules/headers/userHeader';
//@import 'scss/modules/headers/searchHeader';
//@import 'scss/modules/headers/categoryHeader';
//@import 'scss/modules/feedback/EmojiFeedback.scss';
//@import 'scss/modules/feedback/TextFeedback.scss';
//@import 'scss/modules/feedback/UploadFeedback.scss';
//@import 'scss/modules/item/ItemDetails.scss';
//@import 'scss/modules/menu/home.scss';
//@import 'scss/modules/order/OrderFilter.scss';
//@import 'scss/modules/search/Switcher.scss';
//
////Pages
//@import 'scss/pages/itemDetails/itemDetails';
//@import 'scss/pages/order/orderList';
//@import 'scss/pages/order/bussinesCard';
//@import 'scss/pages/profile/profile';
//@import 'scss/pages/user/userProfileGadgets';
//@import 'scss/pages/user/UserModules/addresses';
//@import 'scss/pages/user/UserModules/favorites';
//@import 'scss/pages/menu/dailyMenu';
//@import 'scss/pages/menu/dailyMenuModal';
//@import 'scss/pages/catalog/catalog';
//@import 'scss/pages/categories/categories';

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dadarkrk-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}